header{
    width: 100%;
    padding: .9rem 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    z-index: 100;
}

header > nav{
    padding: 0 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > figure{
    display: flex;
    align-items: center;
}

header > nav > figure > img{
    width: 3.3rem;
    margin-right: .6rem;
}

header > nav > figure > figcaption{
    color: #5f6368;
    font-family: "Product Sans", Arial, Helvetica, sans-serif;
    font-size: 2.6rem;
    font-weight: 400;
}

header > nav > ul{
    height: auto;
    display: flex;
    align-items: center;
    list-style: none;
}

header > nav > ul > li{
    height: auto;
    margin-left: 3.6rem;
    display: flex;
    align-items: center;
}

header > nav > ul > li:first-child{
    margin: 0;
}

header > nav > ul > li > a{
    color: #5f6368;
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 400;
}   

header > nav > ul > li > a:hover{
    color: #000;
}